*{
    margin: 100;
    padding: 100;
    background-color: lightcyan;
}

body {
    margin: 100px;
}

label{
    margin: 15px;
    font-size: 30px ;
}

input {
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 2px 3px 2px 0px black;
    font-size: 20px;
    font-weight: bold ;
}

button {
    margin: 20px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 5px 2px 0px rgb(81, 255, 1);
    background-color: black;
    color: white;
}